* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
.container {
  display: flex;
}
.kanan {
  width: 70%;
  height: 100vh;
  z-index: 1;
}
.kiri {
  width: 30%;
  background: linear-gradient(#a80000, rgb(196, 5, 5), rgb(146, 4, 4));
  z-index: -1;
  height: 500%;
}
.logo {
  margin-top: 30px;
  margin-left: 20px;
}
.navigasi {
  margin-left: 350px;
  margin-top: -50px;
}
.navigasi a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  margin-left: 60px;
}
.button-one {
  margin-top: 30px;
  margin-left: -40px;
}
.button-one button {
  padding: 10px 80px;
  margin-left: 150px;
  color: white;
  background-color: transparent;
  border: white 1px solid;
}
.tagline {
  font-size: 50px;
  font-weight: 800;
  color: black;
  margin-top: 100px;
  margin-left: 50px;
}
.description-tagline {
  margin-top: 10px;
  margin-left: 50px;
}
.red-one {
  color: red;
}
.red-two {
  color: red;
}
.price {
  font-size: 36px;
  font-weight: 700;
  color: #ff9900;
  margin-left: 50px;
  margin-top: 10px;
}
.button-two {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 1000px;
}
.button-two button {
  padding: 8px 50px;
  color: white;
  background-color: #a80000;
  border: none;
}
.leaf img {
  width: 120vh;
  height: 100vh;
  margin-left: -350px;
}
.burger {
  margin-top: -500px;
  margin-left: -150px;
}
#breadOne {
  width: 330px;
  position: absolute;
  margin-top: 110px;
  margin-right: 220px;
  top: 0;
  right: 0;
  z-index: 4;
}
#vegetable {
  width: 420px;
  margin-top: 190px;
  margin-right: 180px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
#meat {
  width: 380px;
  margin-top: 260px;
  margin-right: 200px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
#breadTwo {
  width: 410px;
  margin-top: 320px;
  margin-right: 175px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
#dotOne {
  color: white;
}
#descOne {
  position: absolute;
  left: 0;
  font-weight: bolder;
  margin-top: -145vh;
  margin-left: 15vh;
  margin-bottom: 100vh;
  color: white;
  display: flex;
  gap: 4px;
}
#dotTwo {
  color: #4e1919;
}
#descTwo {
  position: absolute;
  right: 0;
  z-index: 1;
  margin-right: -30vh;
  margin-top: 115vh;
}
#descTwo i {
  color: white;
  width: 50vh;
  height: 5vh;
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-left: -50vh;
}
#descTwo p {
  color: white;
}
#decoOne {
  margin-top: 80vh;
}
.section-two {
  background: linear-gradient(#a80000, #4e1919);
  height: 120vh;
  position: relative;
  z-index: -20;
  margin-top: -30vh;
}
#descThree {
  margin-top: -100vh;
  position: absolute;
  left: 0;
  margin-left: 20vh;
}
#descThree p {
  font-weight: bolder;
  color: white;
}
#descFour i{
  display: flex;
  flex-direction: row;
  gap: 1px;
  color: white;
}
#descFour {
  position: absolute;
  right: 0;
  margin-top: 160vh;
  margin-left: 94vw;
}